<div class="cancelacionReserva">

  <h2>Cancelación de reserva</h2>

  <p>Su reserva ha sido cancelada. </p>


  <div class="cancelacionReserva__datos">

    <div>

      <h4>Datos de la reserva</h4>

      <div>

        {{fecha}}

      </div>

      <div>

        {{franja}}

      </div>

      <div>

        Sala {{sala}}

      </div>

      <div>

        {{deporte}}

      </div>

      <div>

        {{email}}

      </div>

    </div>



    <div>

      <img src="{{imagen}}">

    </div>


  </div>

</div>
