<head>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Gymnasium | Gimnasios con el fitness más innovador | Fit Together</title>


</head>

<body class="home page-template-default page page-id-93042">

    <div class="page-wrapper">
        <header>

            <div class="container-header">
                <div class="logo-ct">
                    <div class="logo">
                        <a href="/" title="Gymnasium - Gimnasios para el fitness innovador." class="imagenLogo">
                            <img class="logo-img" src="/assets/img/logoGym1.png" alt="Gymnasium - Fit Together" style="width: 61%; height: 39%;">
                        </a>
                    </div>
                </div>
                <div class="user-ct">
                    <nav>
                        <ul>
                            <li class="login"><a href="#login-modal" class="btn btn-solid" title="Login"><i
                                        class="fas fa-user"></i></a></li>

                            <li class="register mim-join-btn">
                                <a class="btn btn-solid btn-red" href="register">
                                    <span>Registrarme</span>
                                </a>
                            </li>
                            <li class="register">
                                <a class="btn btn-solid btn-green" href="login">
                                    <span>Iniciar sesión</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="top-bar">
                <div class="top-bar-item">
                    <img class="top-bar-image" src="/assets/img/candado.png ">
                    <div class="top-bar-title">Sin permanencia</div>
                </div>
                <div class="top-bar-item">
                    <img class="top-bar-image" src="/assets/img/instalacion.png">
                    <div class="top-bar-title">Instalaciones únicas</div>
                </div>
                <div class="top-bar-item">
                    <img class="top-bar-image" src="/assets/img/horario.png ">
                    <div class="top-bar-title">Amplio horario</div>
                </div>
                <div class="top-bar-item">
                    <img class="top-bar-image" src="/assets/img/lowcost.png ">
                    <div class="top-bar-title">Low cost</div>
                </div>
            </div>
        </header>


        <div class="content-wrapper">
            <main>
                <section class="full-width-media">
                    <div class="video-wrapper" role="presentation">
                        <img src="/assets/img/crossFit.jpeg" alt="Gymnasium - Fit Together" style="width: 99.9vw;">
                    </div>
                </section>
                <section class="titulo-instalaciones">
                    <div class="row pad">
                        <h2 style="text-align: center;"><span style="color: #000000;">INSTALACIONES ÚNICAS Y EXCLUSIVAS</span></h2>
                    </div>
                </section>
                <section class="image-gallery">
                    <div class="row pad">

                        <div class="gallery grid grid-pad grid-3" style="position: relative; height: 959.051px;">
                            <div class="grid-cell" style="position: absolute; left: 0%; top: 0px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2019/04/El-Exito-de-la-Expansion-de-los-gimnasios-Synergym.-Club-del-Mes.jpg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2019/04/El-Exito-de-la-Expansion-de-los-gimnasios-Synergym.-Club-del-Mes-600x323.jpg"
                                        alt=""></a>
                            </div>
                            <div class="grid-cell" style="position: absolute; left: 33.3325%; top: 0px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2022/11/IMG20221106123653-1280x860.jpg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2022/11/IMG20221106123653-600x403.jpg"
                                        alt=""></a>
                            </div>
                            <div class="grid-cell" style="position: absolute; left: 66.6649%; top: 0px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2022/11/IMG20221106134617-1280x960.jpg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2022/11/IMG20221106134617-600x450.jpg"
                                        alt=""></a>
                            </div>
                            <div class="grid-cell" style="position: absolute; left: 0%; top: 258.275px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2022/11/IMG20221106134825-1280x960.jpg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2022/11/IMG20221106134825-600x450.jpg"
                                        alt=""></a>
                            </div>
                            <div class="grid-cell" style="position: absolute; left: 33.3325%; top: 316.3px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2022/11/IMG_3172-1280x960.jpeg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2022/11/IMG_3172-600x450.jpeg"
                                        alt=""></a>
                            </div>
                            <div class="grid-cell" style="position: absolute; left: 66.6649%; top: 350.388px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2022/11/CLASES-DIRIGIDAS-SYNERGYM-1280x896.jpg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2022/11/CLASES-DIRIGIDAS-SYNERGYM-600x420.jpg"
                                        alt=""></a>
                            </div>
                            <div class="grid-cell" style="position: absolute; left: 0%; top: 608.663px;">
                                <a href="https://synergym.es/assets/images/gyms/global/2022/11/image00026-1280x960.jpeg"
                                    data-fancybox="gallery"><img
                                        src="https://synergym.es/assets/images/gyms/global/2022/11/image00026-600x450.jpeg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="call-to-action pattern pattern-2">
                    <div class="row pad">
                        <div class="cta-main">
                            <h2>¡REGÍSTRATE EN 3 MINUTOS!</h2>

                            <a href="#" class="btn btn-large btn-solid btn-pink">YESSS,
                                ME APUNTO</a>
                        </div>
                        <div class="cta-panels wrap" data-equal="">
                            <div class="col-2 pad">
                                <div class="panel panel-white" data-equal-watch="" style="height: 197.375px;">
                                    <h4>¿Tienes dudas?</h4>

                                    <a href="#" class="btn btn-outline btn-green">PREGUNTAS MÁS
                                        FRECUENTES</a>
                                </div>
                            </div>
                            <div class="col-2 pad">
                                <div class="panel panel-white" data-equal-watch="" style="height: 197.375px;">
                                    <h4>¡Ya estoy registrado!</h4>

                                    <a href="#"
                                        class="btn btn-outline btn-green">ACCEDER ÁREA DE SOCIOS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="zones" class="zones color-alt">
                    <div class="zone-heading">
                        <div class="row pad">
                            <h2>GYMNASIUM: 7 BOUTIQUES EN UN SOLO CLUB</h2>
                            <p>En Gymnasium hemos creado un concepto rompedor con la especialización de las boutiques
                                y la versatilidad de un gym, con la mejor relacion calidad-precios del mercado</p>
                        </div>
                    </div>
                    <div class="zones-row">
                        <div id="zones-list" class="zones-list">

                            <div class="zone-panel zone-103334 zone-103334-bg">
                                <div class="zone-icon-name zone-103334-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="746466471" class="zone-103334-videolink" href="746466471"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>Una actividad basada en entrenamientos de alta intensidad.</p>
                                    ...
                                    <a href="#">Saber más</a>
                                </div>
                            </div>
                            <div class="zone-panel zone-87749 zone-87749-bg">
                                <div class="zone-icon-name zone-87749-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="579728025" class="zone-87749-videolink" href="579728025"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>Actividad de alta intensidad usando artes marciales y material funcional.</p>
                                    ...
                                    <a href="#">Saber más</a>
                                </div>
                            </div>
                            <div class="zone-panel zone-106 zone-106-bg">
                                <div class="zone-icon-name zone-106-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="579728609" class="zone-106-videolink" href="579728609"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>«Zona cardio». Equipada con maquinaria Lifefitness de alta gama.</p>
                                    ...
                                    <a href="#">Saber más</a>
                                </div>
                            </div>
                            <div class="zone-panel zone-107 zone-107-bg">
                                <div class="zone-icon-name zone-107-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="579728360" class="zone-107-videolink" href="579728360"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>Espacio para entrenar fuerza. Maquinaria y peso libre marca Lifefitness.</p>
                                    ...
                                    <a href="#">Saber más</a>
                                </div>
                            </div>
                            <div class="zone-panel zone-20614 zone-20614-bg">
                                <div class="zone-icon-name zone-20614-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="579728149" class="zone-20614-videolink" href="579728149"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>Desarrolla aquí tu faceta mas funcional con nuestras clases y materiales.</p>
                                    ...
                                    <a href="#">Saber más</a>
                                </div>
                            </div>
                            <div class="zone-panel zone-108 zone-108-bg">
                                <div class="zone-icon-name zone-108-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="579727864" class="zone-108-videolink" href="579727864"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>Disfruta de los Beat Programs. Actividades que te harán vibrar.</p>
                                    ...
                                    <a href="#">Saber más</a>
                                </div>
                            </div>
                            <div class="zone-panel zone-109 zone-109-bg">
                                <div class="zone-icon-name zone-109-icon-name"></div>
                                <div class="video-link">
                                    <a data-video-id="579728481" class="zone-109-videolink" href="579728481"><i
                                            class="fab fa-youtube"></i></a>

                                </div>
                                <div class="zone-desc">
                                    <p>Sala con bicis Tomahawk de LifeFitness y BestCycling. Disfruta de una experiencia
                                        inolv...
                                        <a href="#">Saber más</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                <section class="training-gym">
                    <div class="row pad">
                        <div class="training-gym-panel-wrap">
                            <div class="training-gym-panel">
                                <div class="logo"></div>
                                <div class="phone">
                                    <div></div>
                                </div>
                                <div class="app-store color-alt">
                                    <h5>Descárgate la App oficial de Gymnasium y disfruta de una experiencia completa con
                                        la que podrás alcanzar todos tus objetivos</h5>

                                    <div class="apps">
                                        <a class="appstore-apple"
                                            href="#"
                                            target="_blank"></a>
                                        <a class="appstore-google"
                                            href="#"
                                            target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>

        </div>
    </div>

</body>
