@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');


.page-id-15 .full-width-media {
  width: 100%;
}

.logo-img {
    min-width: 61%;
    width: 61%;
    min-height: 39%;
    height: 39%;
}
@media (max-width:800px) {
    .logo-ct {
        min-width: 26vw;
    }
    .logo-img {
        min-width: 61%;
        
    }
}

.bg-img {
    img {
      width: 99.9vw;
    }
}

.user-ct li.buttons .btn {
  font-family: Montserrat;
  font-size: 16px;
  padding: 15px 20px;
  min-height: 6vh;
  max-height: 6vh;
  min-width: 39vh;
  max-width: 39vh;
}
@media (max-width:800px) {
    .buttons {
        min-width: 26vw;
    }
}

.btn.btn-red {
  background-color: #d6b747;
  color: #fff;
}

.btn.btn-red:hover {
  background-color: #ad943a;
}

@media (max-width:1300px) {
  .user-ct li.buttons .btn {
    font-size: 14px;
    padding: 16px 10px;
  }
}

body {
  overflow: hidden;
  padding-top: 12vh;
}



.zone-panel:after {
  display: none;
}

@media (max-width:1035px) {
  body {
    padding-top: 98px;
  }
}


header .top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px !important;
}

.top-bar-item {
  font-family: Montserrat;
  display: flex;
  align-items: center;
}

.top-bar-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
  font-size: 16px;
}

@media (max-width:990px) {
  header .top-bar {
    padding: 10px 0 !important;
  }

  .top-bar-item {
    padding: 0 15px;
    flex-direction: column;
  }

  .top-bar-title {
    font-size: 14px;
    padding-left: 0;
    line-height: 15px;
    text-align: center;
    padding-top: 10px;
  }

  .top-bar-image {
    height: 30px;
  }
}

@media (max-width:580px) {
  .top-bar-image {
    height: 20px;
  }

  .top-bar-title {
    font-size: 12px;
  }

  .top-bar-item {
    padding: 0 10px;
  }
}

// .imagenLogo>img {
//   height: 20vh;

// }

.btn {
  text-decoration: none !important;
}

@media (min-width:50em) {

  .btn {
    font-size: 1em
  }
}

.btn-large {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  font-size: 1em;
  margin-bottom: .8em;
  margin: 0;
  padding: 12px 30px 16px
}

.btn-solid {
  box-shadow: 0 12px 22px 3px rgba(0, 0, 0, .14);
  border: none
}

.btn-solid.btn-green {
  background: #7a7a7a;
  border-color: #00bcb3;
  color: #fff;
}

.btn-solid.btn-green.hover,
.btn-solid.btn-green:hover {
  background: #676767
}

.btn-outline {
  border: 2px solid;
  padding: 6px 13px 9px
}

.btn-outline.btn-green {
  border-color: #d6b747;
  color: #d6b747
}

.btn-outline.btn-green.active,
.btn-outline.btn-green.hover,
.btn-outline.btn-green:hover {
  background: #d6b747;
  color: #fff
}

.btn-outline.btn-green.active {
  box-shadow: 0 12px 22px 3px rgba(0, 0, 0, .14)
}

.btn-outline.btn-small {
  padding: 3px 20px
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #4a4a50;
  font-size: 1.9375em;
  margin-bottom: .5em
}

@media (min-width:50em) {
  h2 {
    font-size: 3.9vw;
  }
}


h4 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #4a4a50;
  font-size: 1.25em;
  margin-bottom: .8em;
}

@media (min-width:50em) {
  h4 {
    font-size: 1.5625em;
  }
}

@media (min-width:64em) {
  h4 {
    font-size: 1.9375em;
  }
}

.row {
  max-width: 78.75em;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

.wrap {
  margin-left: -12px;
  margin-right: -12px;
  zoom: 1;
}

.wrap .pad {
  padding-left: 12px;
  padding-right: 12px;
}

img {
  display: block;
  width: auto;
  height: auto;
}

.col-2 {
  width: 100%;
  float: left;
}

@media (min-width:50em) {
  .col-2 {
    width: 50%;
    float: left;
  }

}


@media (min-width:64em) {
  .pad {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media (min-width:70em) {
  .pad {
    padding-left: 50px;
    padding-right: 50px;
  }

  .pad .pad {
    padding-left: 80px;
    padding-right: 80px;
  }

  .wrap .pad {
    padding-left: 12px;
    padding-right: 12px;
  }
}

header {

  zoom: 1;
  background: rgba(0, 0, 0, .8);
  border-bottom: 1px solid hsla(0, 0%, 84%, .1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.titulo-instalaciones {
  padding-top: 70px;

  div {
    h2 {
        text-align: center;
    }
  }
}

header .container-header {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  min-height: 1.2em;
  height: 12vh;
}

.user-ct {

  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 434px;
  gap: 1.8vw;
  height: 126px;
}

@media (max-width: 1040px) {

    .user-ct {
        width: 60vw;
    }

}
@media (max-width: 900px) {

    .user-ct {
        width: 95vw;
    }

}
@media (max-width:495px) {
  .user-ct{
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    div>a{
    padding: 0.2em;
    }
  }
  .btn-mobile{
    font-size: 0.95em;
  }
  
}



.user-ct .login a,
.user-ct .logout a {
  background-color: hsla(0, 0%, 100%, .3);
  // display: block;
}

.user-ct .login a,
.user-ct .logout a {
  font-size: 1.1em;
  color: silver;
}

.content-wrapper {
  position: relative;
  backface-visibility: hidden;
  z-index: 6;
  background-color: #fff;
}

.content-wrapper header {
  transition: transform .3s ease;
}

.call-to-action {
  text-align: center;
  padding: 30px 0 0;
}

.panel {
  font-family: Montserrat;
}

.cta-panels {
  zoom: 1;
  margin-top: 50px;
}

.cta-panels .btn {
  width: auto;
}

.cta-panels .panel {
  box-shadow: 0 15px 40px 3px rgba(0, 0, 0, .2);
  padding: 30px;
  margin-bottom: 30px;
}

@media (min-width:50em) {
  .call-to-action {
    padding: 40px 0 50px;
  }

  .cta-panels {
    margin-top: 80px;
  }

  .cta-panels .panel {
    margin: 0;
  }
}

@media (min-width:64em) {
  .cta-panels {
    margin-top: 80px;
  }
}

.cta-panel .panel {
  padding: 50px;
  background-color: #ededed;
}

.image-gallery {
  padding: 0vh 7vw;
}

.gallery {
  margin-bottom: 4%;
  height: 700px;
  display: grid;
  grid-gap: 11px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img1 img3 img6"
    "img2 img4 img6"
    "img2 img5 img7";

  div:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
}

@media (max-width:768px) {
  .gallery {
    height: 2000px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "img7";
  }

}

.gallery .img1 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion1.jpg);
  grid-column-start: img1;
  grid-column-end: img1;
}

.gallery .img2 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion2.jpg);
  grid-area: img2;
}

.gallery .img3 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion3.jpg);
  grid-area: img3;
}

.gallery .img4 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion4.jpg);
  grid-area: img4;

}

.gallery .img5 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion5.jpeg);
  grid-area: img5;
}

.gallery .img6 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion6.jpg);
  grid-area: img6;
}

.gallery .img7 {
  background-size: cover;
  background-image: url(../../assets/img/instalacion7.jpeg);
  grid-area: img7;
}

.main__galeria__imagenes {
  img:hover {
    transform: scale(1.2);
    transition: transform 1s;
  }
}

footer {
  height: 13vh;
  background-color: #444b53;
  display: flex;
  align-items: center;

  @media screen and (max-width: 876px) {
    height: auto;
  }
}
