@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');




.page-id-15 .full-width-media {
  width: 100%;
}

/**/
.user-ct li.register .btn {
  font-size: 16px;
  padding: 15px 20px;
}

.btn.btn-red {
  background-color: #d6b747;
  color: #fff;
}

.btn.btn-red:hover {
  background-color: #ad943a;
}


/*RESPONSIVE BANNER APP*/
@media (max-width:1300px) {
  .user-ct li.register .btn {
    font-size: 14px;
    padding: 16px 10px;
  }
}

body {
  padding-top: 21.5vh;
}


.page-wrapper header .container-header .user-ct>nav li.login {
  display: none;
}

.zone-panel:after {
  display: none;
}

@media (max-width:1035px) {
  body {
    padding-top: 120px;
  }
}


@media(max-width:670px) {
  body {
    padding-top: 150px;
  }
}


@media (max-width:554px) {
  body {
    padding-top: 140px;
  }
}

/*TOP BAR*/
header .top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px !important;
}

.top-bar-item {
  display: flex;
  align-items: center;
}

.top-bar-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
  font-size: 16px;
}

@media (max-width:990px) {
  header .top-bar {
    padding: 10px 0 !important;
  }

  .top-bar-item {
    padding: 0 15px;
    flex-direction: column;
  }

  .top-bar-title {
    font-size: 14px;
    padding-left: 0;
    line-height: 15px;
    text-align: center;
    padding-top: 10px;
  }

  .top-bar-image {
    height: 30px;
  }
}

@media (max-width:580px) {
  .top-bar-image {
    height: 20px;
  }

  .top-bar-title {
    font-size: 12px;
  }

  .top-bar-item {
    padding: 0 10px;
  }
}

.imagenLogo>img {
  height: 20vh;
  
}

.btn{
  text-decoration: none !important;
}

@media (min-width:50em) {

  .btn {
    font-size: 1em
  }
}

.btn-large{
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  font-size: 1em;
  margin-bottom: .8em;
  margin: 0;
  padding: 12px 30px 16px
}

.btn-solid {
  box-shadow: 0 12px 22px 3px rgba(0, 0, 0, .14);
  border: none
}

.btn-solid.btn-green {
  background: #7a7a7a;
  border-color: #00bcb3;
  color: #fff
}

.btn-solid.btn-green.hover,
.btn-solid.btn-green:hover {
  background: #3d3d3d
}

.btn-outline {
  border: 2px solid;
  padding: 6px 13px 9px
}

.btn-outline.btn-green {
  border-color: #d6b747;
  color: #d6b747
}

.btn-outline.btn-green.active,
.btn-outline.btn-green.hover,
.btn-outline.btn-green:hover {
  background: #d6b747;
  color: #fff
}

.btn-outline.btn-green.disabled,
.btn-outline.btn-green:disabled,
.btn-outline.btn-green[disabled] {
  background: transparent;
  border-color: #b2d3cc;
  color: #b2d3cc;
  opacity: 1
}

.btn-outline.btn-green.active {
  box-shadow: 0 12px 22px 3px rgba(0, 0, 0, .14)
}

.btn-outline.btn-small {
  padding: 3px 20px
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #4a4a50;
  font-size: 1.9375em;
  margin-bottom: .5em
}

@media (min-width:50em) {
  h2 {
    font-size: 2.4375em
  }
}

@media (min-width:64em) {
  h2 {
    font-size: 3em
  }
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #4a4a50;
  font-size: 1.25em;
  margin-bottom: .8em
}

@media (min-width:50em) {
  h4 {
    font-size: 1.5625em
  }
}

@media (min-width:64em) {
  h4 {
    font-size: 1.9375em
  }
}

.row {
  max-width: 78.75em;
  width: 100%;
  margin: 0 auto;
  z-index: 2
}

.pad {
  padding-left: 15px;
  padding-right: 15px
}

.center {
  text-align: center
}
.wrap {
  margin-left: -12px;
  margin-right: -12px;
  zoom: 1
}

.wrap:after,
.wrap:before {
  content: "";
  display: table
}

.wrap:after {
  clear: both
}

.wrap .pad {
  padding-left: 12px;
  padding-right: 12px
}

img {
  display: block;
  width: auto;
  height: auto
}


@media (min-width:50em) {
  .col-2 {
    width: 50%;
    float: left
  }

}

@media (min-width:64em) {
  .pad {
    padding-left: 30px;
    padding-right: 30px
  }

}

@media (min-width:70em) {
  .pad {
    padding-left: 50px;
    padding-right: 50px
  }

  .pad .pad {
    padding-left: 80px;
    padding-right: 80px
  }

  .wrap .pad {
    padding-left: 12px;
    padding-right: 12px
  }
}



.icon-location:before {
  color: #fff;
  font-size: 300%
}


header {
  
  zoom: 1;
  background: rgba(0, 0, 0, .8);
  border-bottom: 1px solid hsla(0, 0%, 84%, .1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9
}

header:after,
header:before {
  content: "";
  display: table
}

header:after {
  clear: both
}
.titulo-instalaciones{
    padding-top: 70px;
}

header .container-header {
  float: left;
  width: 100%;
  padding: 10px 15px;
  grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
  display: grid;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
}

.logo-ct {
  grid-column: span 6/span 6
}

.logo-ct .logo {
  display: block;
  margin: 0;
  
}

.logo-ct .logo a {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  position: relative;
  transform: translateX(-20px)
}

.logo-ct .logo img {
  width: 100%
}

.user-ct {
  grid-column: span 3/span 3
}

.user-ct li {
  float: right;
  margin-left: 10px
}

.user-ct .login a,
.user-ct .logout a {
  background-color: hsla(0, 0%, 100%, .3);
  display: block
}

.user-ct .login a i,
.user-ct .logout a i {
  font-size: 1.1em;
  color: silver
}

.content-wrapper {
  position: relative;
  backface-visibility: hidden;
  z-index: 6;
  background-color: #fff
}

.content-wrapper header {
  transition: transform .3s ease
}

.nav-ct {
  grid-column: span 3/span 3
}

.nav-ct ul {
  display: block;
  margin: 0
}

.nav-ct ul li {
  display: block;
  position: relative;
  min-width: 250px
}

.nav-ct ul li.register {
  margin-left: 30px
}

.nav-ct ul li.register a {
  padding: 13px 25px 17px
}

.nav-ct ul li.register a i {
  display: none
}

.nav-ct ul li ul {
  position: absolute
}

.nav-ct ul li:hover {
  background-color: #d7d7d7
}

.nav-ct ul li:hover>a {
  color: #000
}

.nav-ct ul li:hover>ul {
  display: block
}

.nav-ct ul ul {
  display: none;
  position: absolute;
  background: #00bcb3;
  left: 250px;
  background: rgba(0, 0, 0, .8);
  padding: 5px 0 10px;
  top: -50px
}

.call-to-action {
  text-align: center;
  padding: 30px 0 0
}

.full-width-cta {
  padding: 30px 0
}

.full-width-cta h4 {
  color: #fff
}

.full-width-cta .skill {
  display: inline-block;
  margin: 40px 0;
  width: 30%;
  text-align: center
}

.full-width-cta .skill h5 {
  color: #fff;
  margin: 0;
  font-size: 2.5em
}

.full-width-cta .skill span {
  color: #fff
}

.general-team {
  padding: 30px 0
}

.general-team h3 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid #4a4a50;
  line-height: .05em;
  margin: 10px 0 35px
}

.general-team h3 span {
  background: #fff;
  padding: 0 10px
}

.general-team .col-3 {
  display: inline-block;
  float: none
}

.general-team img {
  width: 100%
}

.general-team .col-3 {
  padding: 10px;
  width: 33%;
  transition: all .5s ease
}

.general-team .gt-box {
  background: #000;
  background: linear-gradient(0deg, #000, transparent);
  position: relative;
  margin-top: -120px;
  padding: 10px 20px;
  height: 120px
}

.general-team .gt-box .gt-quote,
.general-team .gt-box h4 {
  color: #fff;
  margin-bottom: 10px
}

.general-team .gt-bio-image,
.general-team .gt-box .gt-bio {
  display: none
}

.general-team .gt-expanded {
  width: 100%
}

.general-team .gt-expanded .gt-image {
  display: none
}

.general-team .gt-expanded .gt-bio-image {
  display: block
}

.general-team .gt-expanded .gt-box {
  margin-top: 0;
  background: none;
  height: auto
}

.general-team .gt-expanded .gt-box .gt-bio {
  display: block
}

.general-team .gt-expanded .gt-box .gt-quote,
.general-team .gt-expanded .gt-box h4 {
  color: #000
}

.cta-panels {
  zoom: 1;
  margin-top: 50px
}

.cta-panels:after,
.cta-panels:before {
  content: "";
  display: table
}

.cta-panels:after {
  clear: both
}

.cta-panels .btn {
  width: auto
}

.cta-panels .panel {
  box-shadow: 0 15px 40px 3px rgba(0, 0, 0, .2);
  padding: 30px;
  margin-bottom: 30px
}

@media (min-width:50em) {
  .call-to-action {
    padding: 40px 0 50px
  }

  .cta-panels {
    margin-top: 80px
  }

  .cta-panels .panel {
    margin: 0
  }
}

@media (min-width:64em) {
  .cta-panels {
    margin-top: 80px
  }
}

.call-to-action-image {
  zoom: 1;
  padding: 50px 0
}

.call-to-action-image:after,
.call-to-action-image:before {
  content: "";
  display: table
}

.call-to-action-image:after {
  clear: both
}

.call-to-action-image .cta-btn {
  margin-top: 50px
}

.cta-image {
  zoom: 1
}

.cta-image:after,
.cta-image:before {
  content: "";
  display: table
}

.cta-image:after {
  clear: both
}

.cta-image img {
  float: right;
  max-width: 100%
}

.cta-panel .panel {
  padding: 50px;
  background-color: #ededed
}

.below {
  z-index: 1
}

.above,
.below {
  position: relative
}

.above {
  z-index: 2
}

@media (max-width:50em) {
  .call-to-action-image {
    padding-bottom: 0
  }

  .call-to-action-image .wrap {
    margin: 0
  }

  .call-to-action-image .pad {
    padding: 0
  }

  .cta-panel {
    position: relative;
    top: -50px;
    padding-left: 50px
  }

  .cta-panel .panel {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 30px
  }
}

.training-gym-panel {
  background: #00bcb3;
  position: relative;
  zoom: 1;
  padding: 35px 30px 20px 165px
}

.training-gym-panel:after,
.training-gym-panel:before {
  content: "";
  display: table
}

.training-gym-panel:after {
  clear: both
}

.training-gym-panel h5,
.training-gym-panel h6 {
  margin-bottom: .2em
}

.training-gym-panel-wrap {
  padding-top: 90px;
  overflow: hidden
}

.training-gym {
  padding: 50px 0 60px
}

.training-gym .phone {
  position: absolute;
  left: -140px;
  top: -40px;
  width: 277px;
  height: 420px;
  padding: 16px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 15px 40px 3px rgba(0, 0, 0, .2)
}

.apps {
  margin-top: 30px;
  zoom: 1
}

.apps:after,
.apps:before {
  content: "";
  display: table
}

.apps:after {
  clear: both
}

.apps a {
  float: left;
  width: 120px;
  height: 40px;
  margin-right: 30px;
  margin-bottom: 15px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain
}


@media (min-width:50em) {
  .training-gym-panel {
    padding: 0;
    border-radius: 8px
  }

  .training-gym .logo {
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -25px;
    margin-bottom: 0
  }

  .training-gym .phone {
    top: -50px;
    left: 180px;
    width: 330px;
    height: 502px;
    padding: 20px;
    box-shadow: 0 15px 40px 3px rgba(0, 0, 0, .5)
  }

  .training-gym .app-store {
    padding: 35px 50px;
    margin-left: 510px
  }
}

@media (max-width:50em) {
  .training-gym .pad {
    padding: 0
  }
}

.community {
  padding: 40px 0 30px
}

.ff-stream {
  background: transparent !important;
  padding-top: 0 !important
}

.picture-item__inner {
  box-shadow: 0 15px 40px 3px rgba(0, 0, 0, .14) !important;
  border-radius: 8px !important;
  overflow: hidden
}

.ff-item-bar {
  border-top: none !important
}

.ff-icon-inner {
  color: #838d8f !important
}

.ff-sc-label2 .ff-label-wrapper {
  right: 7% !important;
  top: 10px !important
}

.ff-sc-label2 .ff-icon:before {
  border: none !important
}

.ff-sc-label2 .ff-icon-inner {
  right: -7px !important;
  top: 0 !important
}

@media (min-width:64em) {
  .community {
    padding: 60px 0 50px
  }
}

#cancellation-modal .btn {
  margin-top: 30px
}

.promotion img {
  width: 100%
}

.goal-classes {
  padding: 50px 0
}

@media (min-width:64em) {
  .goal-classes {
    padding: 80px 0
  }

  .goal-classes .class-panel h3 {
    float: none
  }

  .goal-classes .class-panel .what-is {
    margin: 5px 0 0
  }

  .goal-classes .class-location {
    padding: 0;
    margin-top: 40px
  }
}

.blog-listing {
  padding: 60px 0
}

.blog-listing:first-child {
  padding-top: 100px
}

.grid-title {
  margin-bottom: 40px
}

.blog-grid a {
  text-decoration: none;
  float: left;
  width: 100%;
  background: #fff;
  box-shadow: 0 15px 40px 3px rgba(0, 0, 0, .14)
}

.blog-grid a:hover .blog-more {
  text-decoration: underline
}

.blog-content,
.blog-date h6 {
  color: #838d8f
}

.blog-more {
  color: #00bcb3;
  margin-top: 25px
}

.blog-inner {
  padding: 24px 24px 30px
}

.blog-image {
  margin-bottom: 5px
}

.blog-image img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}

.blog-nav {
  padding: 30px;
  margin-left: -30px;
  margin-right: -30px;
  overflow: hidden
}

.blog-next {
  float: right
}

.blog-prev {
  float: left
}

.article {
  padding: 60px 0
}

.article-content {
  margin-top: 40px
}

.article-taxonomies {
  margin-top: 60px;
  font-weight: 700
}

.article-share {
  margin-top: 60px
}

.article-share p {
  margin-bottom: .5em;
  font-weight: 700
}

.related {
  margin-top: 70px
}

img.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px
}

img.alignright {
  float: right;
  margin-left: 30px;
  margin-bottom: 25px
}

@media (min-width:64em) {
  .blog-listing {
    padding: 80px 0
  }

  .blog-listing:first-child {
    padding-top: 160px
  }

  .blog-nav {
    padding-top: 60px
  }

  .article {
    padding: 80px 0
  }

  .article-content {
    margin-top: 60px
  }
}

.image-gallery {
  padding: 60px 0
}

.image-gallery h2 {
  text-align: center
}

.image-gallery .button-group {
  text-align: center;
  padding: 0 0 30px
}

.image-gallery .button-group button {
  background-color: #fff
}

.image-gallery .button-group button.is-checked {
  background: #00bcb3;
  color: #fff
}

.gallery a {
  display: block;
  width: 100%
}

.gallery img {
  width: 100%
}

.style-guide {
  padding: 40px
}

.sg-section {
  border-bottom: 1px solid #4a4a50
}

.sg-row {
  margin-bottom: 50px;
  zoom: 1
}

.sg-row:after,
.sg-row:before {
  content: "";
  display: table
}

.sg-row:after {
  clear: both
}

.sg-row.sg-bg {
  background: #353839;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px 40px 0
}

.sg-row .sg-row {
  margin-bottom: 0
}

.sg-el {
  margin: 0 40px 40px 0;
  float: left
}

.sg-colour {
  width: 200px;
  height: 100px;
  float: left;
  margin-right: 20px
}

.sg-colour:nth-child(2) {
  background: #ef476f
}

.sg-colour:nth-child(3) {
  background: #00bcb3
}

.sg-colour:nth-child(4) {
  background: #353839
}

.sg-colour:nth-child(5) {
  background: #4a4a50
}

.sg-colour:nth-child(6) {
  background: #d7d7d7
}

.sg-colour:nth-child(7) {
  background: #f8f8f8
}

.next {
  text-align: right
}

.select-gym {
  margin-bottom: 35px;
  position: relative
}

.select-gym select {
  width: 100%
}

.select-gym:after {
  display: none
}

.form-wrap {
  margin: 0 -10px;
  zoom: 1
}

.form-wrap:after,
.form-wrap:before {
  content: "";
  display: table
}

.form-wrap:after {
  clear: both
}

.form-el {
  float: left;
  width: 100%;
  padding: 0 10px
}

.form-el p {
  margin-bottom: 5px
}

.form-el .radio-group label {
  margin-bottom: 0
}

.form-el-full {
  width: 100% !important
}

.signup-process .form-el,
.signup-process .form-terms {
  margin-bottom: 40px
}

form div {
  position: relative
}

.overview,
.selections {
  padding: 0 20px 30px 40px
}

.overview {
  display: none;
  position: relative
}

.overview h3 {
  height: auto !important;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #4a4a50;
  font-size: 1.25em;
  margin-bottom: .8em
}

@media (min-width:50em) {
  .overview h3 {
    font-size: 1.5625em
  }
}

@media (min-width:64em) {
  .overview h3 {
    font-size: 1.9375em
  }
}

.overview .overview-content>div {
  height: auto !important
}

#purchase-summary h3,
#purchase-summary h4,
#purchase-summary h5,
#purchase-summary p,
.overview h3,
.overview h4,
.overview h5,
.overview p {
  color: #ef476f;
  margin-bottom: .25em !important
}

.active .step-content {
  display: block
}

.active .step-title {
  padding-top: 25px;
  padding-bottom: 30px
}

.active.purchase-summary .step-title {
  padding-bottom: 10px
}

.complete .overview {
  display: block
}

.complete .next,
.complete .selections {
  display: none
}

.complete .step-title {
  padding-bottom: 5px
}

.purchase-summary .overview {
  display: block !important
}

#register-gym-select .membership-list {
  margin-top: 40px;
  margin-bottom: 40px
}

#register-gym-select .membership-list article {
  padding: 100px 20px 30px;
  transition: all .2s;
  cursor: pointer
}

#register-gym-select .membership-list article h3 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.3;
  color: #4a4a50;
  font-size: 1.25em;
  margin-bottom: .8em
}

@media (min-width:50em) {
  #register-gym-select .membership-list article h3 {
    font-size: 1.5625em
  }
}

@media (min-width:64em) {
  #register-gym-select .membership-list article h3 {
    font-size: 1.9375em
  }
}

#register-gym-select .membership-list article .price span {
  font-size: 2em
}

#register-gym-select .membership-list article p {
  font-size: 1em
}

#register-gym-select input[type=radio] {
  display: none
}

#register-gym-select input[type=radio]:checked~article {
  background-color: #ef476f;
  background-image: none
}

#register-gym-select input[type=radio]:checked~article:after {
  content: "";
  position: absolute;
  display: block;
  transform: rotate(-44deg);
  height: 5px;
  width: 12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff
}

@media (min-width:64em) {
  #register-gym-select input[type=radio]:checked~article:after {
    height: 4px;
    width: 10px;
    height: 6px;
    width: 15px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff
  }
}

// @media (max-width:876){
//     .video-wrapper{
//         padding-top: 40px;
//     }
// }

// #register-gym-select input[type=radio]:checked~article:after {
//   top: 50px;
//   left: 50%;
//   margin-left: -4px
// }

// #register-gym-select input[type=radio]:checked~article:before {
//   content: "";
//   width: 34px;
//   height: 34px;
//   border-radius: 50%;
//   border: 3px solid #fff;
//   position: absolute;
//   top: 37px;
//   left: 50%;
//   margin-left: -15px
// }

#register-gym-select .cta {
  position: relative;
  left: auto;
  bottom: auto;
  right: auto;
  margin-top: 20px
}
.gallery {
    // margin-left: 25%;
    // margin-top: 40%;
    margin-bottom: 4%;
    // width: 700px;
    height: 700px;
    display: grid;
    grid-gap: 11px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "img1 img3 img6"
      "img2 img4 img6"
      "img2 img5 img7";

      div:hover{
        transform: scale(1.1);
        transition: transform 0.5s;
      }
  }

  @media (max-width:768px){
    .gallery{
        height: 2000px;
        grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "img7";
    }
    
  }
  
  .gallery .img1 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion1.jpg);
    grid-column-start: img1;
    grid-column-end: img1;
  }
  
  .gallery .img2 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion2.jpg);
    grid-area: img2;
  }
  
  .gallery .img3 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion3.jpg);
    grid-area: img3;
  }
  
  .gallery .img4 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion4.jpg);
    grid-area: img4;
    
  }
  
  .gallery .img5 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion5.jpeg);
    grid-area: img5;
  }
  
  .gallery .img6 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion6.jpg);
    grid-area: img6;
  }
  .gallery .img7 {
    background-size: cover;
    background-image: url(../../assets/img/instalacion7.jpeg);
    grid-area: img7;
  }

  .main__galeria__imagenes {
    img:hover {
            transform: scale(1.2);
            transition: transform 1s;
        }
    }
    
