@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

.gm-style-moc {
    background-color: rgba(0, 0, 0, .45);
    pointer-events: none;
    text-align: center;
    transition: opacity ease-in-out
}

.gm-style-mot {
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}
.gm-style img {
    max-width: none;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}
@keyframes beginBrowserAutofill {
    0% {}

    to {}
}

@keyframes endBrowserAutofill {
    0% {}

    to {}
}

.pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 18px;
    box-sizing: border-box;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}

.hdpi.pac-logo:after {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}

.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #515151
}

.pac-item:hover {
    background-color: #fafafa
}

.pac-item-selected,
.pac-item-selected:hover {
    background-color: #ebf2fe
}

.pac-matched {
    font-weight: 700
}

.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
}

.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px
}

.hdpi .pac-icon {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}

.pac-icon-search {
    background-position: -1px -1px
}

.pac-item-selected .pac-icon-search {
    background-position: -18px -1px
}

.pac-icon-marker {
    background-position: -1px -161px
}

.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
}

.pac-placeholder {
    color: gray
}

.pac-target-input:-webkit-autofill {
    animation-name: beginBrowserAutofill
}

.pac-target-input:not(:-webkit-autofill) {
    animation-name: endBrowserAutofill
}
.class-type-19050 {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/10/body-balance.jpg');
}

.class-type-19061 {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/10/body-balance.jpg');
}

.class-type-19062 {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/10/body-balance.jpg');
}
.zone-103334-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2022/09/LOGO-CROSS-lt.png');
}

.zone-103334-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2022/09/logo-cross-1.png');
}

.zone-103334-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2022/09/Cross-background.jpg');
}

.zone-87749-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2021/10/isologo-uppercut_Mesa-de-trabajo-1-copia.jpg');
}

.zone-87749-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/logos-zonas_trazados_OK_Mesa-de-trabajo-1-copia-6.png');
}

.zone-87749-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2021/10/uppercut-1.png');
}

.zone-106-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/Icono-Stamina-SG.svg');
}

.zone-106-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/logos-zonas_trazados_OK_Mesa-de-trabajo-1.png');
}

.zone-106-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/08/Fondo_Stamina_Zonas_Synergym.jpg');
}

.zone-107-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/Icono-Power-SG.svg');
}

.zone-107-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/logos-zonas_trazados_OK_Mesa-de-trabajo-1-copia.png');
}

.zone-107-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/08/Fondo_Power_Zonas_Synergym.jpg');
}

.zone-20614-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2019/06/Icono-Functional-SG.svg');
}

.zone-20614-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/logos-zonas_trazados_OK_Mesa-de-trabajo-1-copia-3.png');
}

.zone-20614-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2019/06/Fondo_Functional_Zonas_Synergym_2.jpg');
}

.zone-108-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/Icono-Agility-SG.svg');
}

.zone-108-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/logos-zonas_trazados_OK_Mesa-de-trabajo-1-copia-4.png');
}

.zone-108-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/ZONA-AGYLITY-SYNERGYM.png');
}

.zone-109-icon {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/Icono-Speed-SG.svg');
}

.zone-109-icon-name {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/06/logos-zonas_trazados_OK_Mesa-de-trabajo-1-copia-2.png');
}

.zone-109-bg {
    background-image: url('https://synergym.es/assets/images/gyms/global/2018/08/Fondo_Speed_Zonas_Synergym.jpg');
}
.goal-about, .goal-about-classes {
    display: none;
}

#rev_slider_error_1_wrapper {
    display: none !important;
}

.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-id-15 .full-width-media {
    width: 100%;
}

/**/
.user-ct li.register .btn {
    font-size: 16px;
    padding: 15px 20px;
}

.btn.btn-red {
    background-color: rgb(209, 54, 103);
    color: #fff;
}

.btn.btn-red:hover {
    background-color: rgb(177 39 82);
}

.mim_is_suscription {
    background-color: #00bcb3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
}

/*RESPONSIVE BANNER APP*/
@media (max-width:1300px) {
    .user-ct li.register .btn {
        font-size: 14px;
        padding: 16px 10px;
    }
}

/* CLASSES */
.full-width-media .image-wrapper .cover,
.cover {
    inset: auto !important;
    min-width: 100% !important;
}

/*NEW FORM*/
.hbspt-form iframe {
    padding-top: 0 !important;
}

.hbspt-form {
    font-family: 'Montserrat';
}

.hbspt-form span,
.hbspt-form div {
    color: #fff !important;
    font-family: 'Montserrat';
}

/*COOKIE CONSENT*/
.termsfeed-com---nb-simple {
    right: auto !important;
}

.termsfeed-com---reset div {
    text-align: right;
}

.termsfeed-com---nb .cc-nb-main-container {
    padding: 2rem !important;
}

.termsfeed-com---palette-light.termsfeed-com---nb {
    background-color: #fff !important;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.termsfeed-com---palette-light .cc-nb-title {
    color: rgb(51, 71, 91) !important;
}

.termsfeed-com---palette-light .cc-nb-text {
    color: rgb(51, 71, 91) !important;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px !important;
}

.termsfeed-com---palette-light .cc-nb-okagree {
    background-color: #27bdb3 !important;
}

.termsfeed-com---palette-light .cc-cp-foot-save,
.termsfeed-com---pc-dialog input[type="checkbox"].cc-custom-checkbox:checked+label:before {
    background: #27bdb3 !important;
}

.termsfeed-com---pc-dialog input[type="checkbox"].cc-custom-checkbox+label:before {
    border: none !important;
}

.termsfeed-com---palette-light .cc-pc-head-lang select:focus,
.termsfeed-com---palette-light .cc-pc-head-close:active,
.termsfeed-com---palette-light .cc-pc-head-close:focus {
    box-shadow: 0 0 0 2px #27bdb3 !important;
}

.termsfeed-com---reset div {
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(51, 71, 91) !important;
}

.termsfeed-com---reset div p,
.termsfeed-com---reset div select,
.termsfeed-com---reset div a {
    color: rgb(51, 71, 91) !important;
}

body {
    padding-top: 21.5vh;
}

.full-width-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width-media .media-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.call-to-action {
    overflow: hidden
}

.video-wrapper+.media-content .title {
    text-align: center !important;
    width: 100% !important;
}

.mim_is_suscription {
    background-color: #00bcb3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
}

.page-wrapper header .container-header .user-ct>nav li.login {
    display: none;
}

.zone-panel:after {
    display: none;
}

.mim_slide {
    margin-top: 0px !important;
}

@media (max-width:1035px) {
    body {
        padding-top: 120px;
    }
}

@media (max-width:1200px) {
    #zones-list {
        flex-wrap: wrap;
    }

    /* .zone-panel{
width: 33.33%;
} */
}

@media (min-width: 50em) {
    footer nav>div {
        width: 50%;
    }
}

/*RESPONSIVE BANNER APP*/
@media (max-width:1023px) {
    .media-content iframe {
        padding-top: 80px;
    }
}

@media(max-width:900px) {
    body {
        padding-top: 21.5vh;
    }

    .training-gym .logo {
        margin-left: 30px;
    }

    .training-gym .phone {
        width: 300px;
        height: 454px;
    }

    .training-gym .app-store {
        padding: 30px;
    }
}

@media(max-width:800px) {
    .training-gym-panel {
        padding: 35px 30px 20px 250px;
    }

    .training-gym .phone {
        left: 20px;
        width: 200px;
    }

    .training-gym .phone div {
        background-position: top !important;
    }

    .apps {
        margin-top: 15px;
    }

    .apps a {
        margin-right: 15px;
    }
}

@media(max-width:670px) {
    body {
        padding-top: 150px;
    }
}

@media (max-width:580px) {
    body {
        padding-top: 125px;
    }

    .video-wrapper+.media-content {
        padding-top: 140px !important;
    }

    .training-gym-panel {
        padding: 35px 30px 20px 35px;
    }

    .training-gym .logo {
        margin: auto;
    }



    .training-gym .phone {
        position: initial;
        width: 263px;
        height: 400px;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .app-store.color-alt {
        text-align: center;
    }

    .apps {
        display: flex;
        justify-content: center;
    }

    .apps a.appstore-google {
        margin-right: 0;
    }
}

@media (max-width:554px) {
    body {
        padding-top: 140px;
    }
}

/*TOP BAR*/
header .top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px !important;
}

.top-bar-item {
    display: flex;
    align-items: center;
}

.top-bar-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
}

@media (max-width:990px) {
    header .top-bar {
        padding: 10px 0 !important;
    }

    .top-bar-item {
        padding: 0 15px;
        flex-direction: column;
    }

    .top-bar-title {
        font-size: 14px;
        padding-left: 0;
        line-height: 15px;
        text-align: center;
        padding-top: 10px;
    }

    .top-bar-image {
        height: 30px;
    }
}

@media (max-width:580px) {
    .top-bar-image {
        height: 20px;
    }

    .top-bar-title {
        font-size: 12px;
    }

    .top-bar-item {
        padding: 0 10px;
    }
}

.general-team>.row {
    display: flex;
    flex-wrap: wrap;
}

#locations-grid .location img {
    width: 100%;
}

#locations-map .location-info-box img {
    display: none;
}

.mim_full_article .mim_full_article_inner {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.mim_full_article .mim_full_article_inner .mim_full_article_image {
    padding-top: 50%;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.mim_full_article .mim_full_article_inner .mim_full_article_image .blog-date {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mim_full_article .mim_full_article_inner .mim_full_article_image .blog-date h6 {
    color: #fff;
    line-height: 1;
    margin: 0px;
    font-weight: normal;
}

.mim_full_article .mim_full_article_inner h1 {
    font-size: 2.5em;
    padding: 20px 40px;
    margin-bottom: 0px;
}

.mim_full_article .mim_full_article_inner .article-taxonomies {
    margin-top: 0px;
    padding: 0px 40px;
    margin-bottom: 80px;
    position: relative;
    padding-left: 100px;
}

.mim_full_article .mim_full_article_inner .article-taxonomies::before {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    height: 4px;
    width: 50px;
    background-color: #5cbdb4;
    top: 50%;
    transform: translateY(-50%);
}

.mim_full_article .mim_full_article_inner .article-content {
    padding: 0px 40px;
}

.mim_full_article .mim_full_article_inner .article-content img {
    max-width: 100%;
}

.mim_full_article .mim_full_article_inner .article-share {
    background-color: #5cbdb4;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.mim_full_article .mim_full_article_inner .article-share>.social {
    justify-content: center;
}

.mim_full_article .mim_full_article_inner .article-share>.social a {
    color: #fff;
    border-color: #fff;
}

.mim_full_article .mim_full_article_inner .article-share>.social a:hover {
    background-color: #ffffff;
    color: #5cbdb4;
}

@media only screen and (max-width: 800px) {
    .general-team>.row>.col-3 {
        width: 50%;
    }

    .call-to-action-image .wrap>.above>.cta-panel {
        padding-left: 0px;
    }

    .nav-ct nav {
        width: 100%;
        position: fixed;
        top: 40px;
        height: calc(100vh - 40px);
        overflow-y: scroll;
        padding-bottom: 20px;
    }

    .nav-ct nav .main-nav-ul {
        width: 100%;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav>ul {
        display: none !important;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav.opened>ul {
        display: block !important;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav::after {
        transform: rotate(135deg);
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav {
        padding-right: 0px;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav>ul {
        width: 100%;
        position: static !important;
        transform: translateX(0px);
        left: auto;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav:hover {
        background-color: transparent;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav:hover a {
        color: #fff !important;
    }

    .nav-ct nav .main-nav-ul>li.has-sub-nav>ul>li {
        padding-left: 15px;
    }

    .nav-ct nav .main-nav-ul>li.has-sub-nav>ul>li.has-sub-nav>ul>li {
        padding-left: 30px;
    }

    .nav-ct nav .main-nav-ul>li.has-sub-nav>ul>li.has-sub-nav>ul>li.has-sub-nav>ul>li {
        padding-left: 45px;
    }

    body.page-id-1143 .call-to-action-image {
        margin: 0 20px;
    }

    body.page-id-1143 .call-to-action-image .cta-image img {
        width: 100%;
    }

    body.page-id-1143 .call-to-action-image .cta-panel {
        top: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .general-team>.row>.col-3 {
        width: 100%;
    }

    .mim_full_article .mim_full_article_inner h1 {
        font-size: 2em;
    }
}

/******* COLOR MENU *********/
.mim-menu-back {
    display: none;
}

@media only screen and (max-width: 800px) {
    .nav-ct nav {
        box-sizing: border-box;
        padding: 50px 20px;
        display: block;
        background-color: #5cbcb4;
        overflow: auto;
        padding-top: 90px;
    }

    .nav-ct nav .main-nav-ul {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nav-ct ul li {
        display: block;
        position: relative;
        min-width: 250px;
        width: 100%;
    }

    .nav-ct a {
        width: 100%;
        font-size: 25px;
        position: relative;
        padding: 20px 10px !important;
    }

    .nav-ct a::before {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 100%;
        transform: translate(-50%);
        left: 50%;
        opacity: 0.2;
    }

    .nav-ct .has-sub-nav>a::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: solid 2px #fff;
        border-bottom: solid 2px #fff;
        transform: rotate(-45deg);
        margin-left: 20px;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav::after {
        display: none;
    }

    .nav-ct li:last-of-type a::before {
        display: none;
    }

    .nav-ct li.has-sub-nav {
        position: static !important;
    }

    body .nav-ct nav .main-nav-ul li.has-sub-nav>ul {
        position: absolute !important;
        top: 0px;
        height: 100%;
        z-index: 3;
        background-color: #5cbcb5;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        left: calc(100% + 40px);
        transition: left .4s;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav.opened>ul {
        left: 0;
        z-index: 2;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav.opened.current-opened>ul {
        z-index: 3;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav:not(.opened)>ul>li {
        display: none;
    }

    .nav-ct nav .main-nav-ul li.has-sub-nav.opened:not(.current-opened)>ul>li:not(.opened) {
        display: none;
    }

    .mim-menu-back {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 10px 20px;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        border: solid 2px #fff;
        font-weight: bold;
        display: none;
    }

    .mim-menu-back::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: solid 2px #fff;
        border-bottom: solid 2px #fff;
        transform: rotate(135deg);
        margin-right: 20px;
    }

    .nav-ct nav .main-nav-ul li a {
        line-height: 1.5;
        white-space: break-spaces;
    }

    .mim-main-menu {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.cookies.common_banner {
    display: none !important;
}

@media (max-width:1035px) {
    .user-ct li.mim-join-btn .btn.btn-red {
        padding: 7px;
    }

    .user-ct li.mim-join-btn {
        display: block !important;
    }

    .user-ct li.mim-join-btn span {
        display: block !important;
    }
}

body .signup-progress .row {
    padding-bottom: 25px;
}

body .signup-progress span {
    width: 25%;
}

#purchase-summary-extras h4 {
    margin-top: 40px;
    font-size: 24px;
    color: #4a4a50;
    position: relative;
    background: #00bcb3;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    display: inline-block;
}

#purchase-summary-extras h4::after {
    content: '+';
    display: block;
    position: absolute;
    top: 0px;
    left: -40px;
    background-color: #00bcb3;
    height: 41px;
    width: 35px;
    font-style: italic;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 8px;
    padding-top: 5px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#purchase-summary-extras .summary-extras-container {
    margin-top: 10px;
}

#purchase-summary-extras .summary-extra-item {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#purchase-summary-extras .summary-extra-item label {
    display: block;
    border: 2px solid #b2d3cc;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.3;
    color: #4a4a50;
    font-size: .875em;
    margin-bottom: 0.8em;
    margin-bottom: 0 !important;
    line-height: 1.2;
    border-radius: 5px;
    padding: 5px 15px;
    border-color: #00bcb3;
    background-color: #00bcb3;
    opacity: 0.7;
    position: relative;
    border: 0px;
    padding-left: 40px;
    box-shadow: 0 12px 22px 3px rgb(0 0 0 / 14%);
    padding-bottom: 40px;
}

#purchase-summary-extras .summary-extra-item p {
    color: #fff;
    text-decoration: underline;
    font-size: 17px;
    line-height: 1;
    display: inline-block;
}

#purchase-summary-extras .summary-extra-item .summary-extra-prices {
    position: static;
}

#purchase-summary-extras .summary-extra-item .summary-extra-price-old {
    margin: 0px !important;
    position: absolute;
    top: calc(100% + 10px);
    left: 0px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

#purchase-summary-extras .summary-extra-item .summary-extra-price {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    color: #ffffff;

    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f7f7f7;
    margin: 0px;
    margin-bottom: 0px !important;
    color: #4dd2cc;
    text-decoration: none;
    padding: 6px 10px;
    border-top-left-radius: 5px;
}

#purchase-summary-extras .summary-extra-item .summary-extra-price span {
    font-size: 12px;
}

#purchase-summary-extras .summary-extra-item .summary-extra-description {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
    line-height: 1.3;
    color: #ffffff;
    text-decoration: none;
}

#purchase-summary-extras .summary-extra-item .summary-extra-selected {
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #00bcb3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

#purchase-summary-extras .summary-extra-item .summary-extra-selected::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 12px;
    border-bottom: solid 4px #fff;
    border-right: solid 4px #fff;
    top: 12px;
    left: 16px;
    transform: rotate(40deg);
}

#purchase-summary-extras .summary-extra-item input[type="checkbox"] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0px;
    display: block !important;
    opacity: 0;
    z-index: 2;
}

#purchase-summary-extras .summary-extra-item input[type="checkbox"]:checked+label {
    color: #fff;
    box-shadow: none;
    border-color: #00bcb3;
    background-color: #00bcb3;
    opacity: 1;
}

#purchase-summary-extras .summary-extra-item input[type="checkbox"]:checked+label p {
    color: #fff;
}

#purchase-summary-extras .summary-extra-item input[type="checkbox"]:checked+label p.summary-extra-price {
    color: #4dd2cc;
}

#purchase-summary-extras .summary-extra-item input[type="checkbox"]:checked+label .summary-extra-selected {
    display: block;
}

@media only screen and (max-width: 1024px) {
    #purchase-summary-extras h4 {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #purchase-summary-extras h4 {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 450px) {
    #purchase-summary-extras .summary-extra-item p {
        font-size: 14px;
    }

    #purchase-summary-extras .summary-extra-item .summary-extra-price {
        font-size: 16px;
    }
}



.imagenLogo>img {
    height: 20vh;
}
.location-finder .media-content {
    padding-top: 8vh;
}