

<ul>
    <li class="logo"> <a href="#"> <img src="../../../assets/icons/logoGym1.png" alt="Logo"> </a> </li>
    <li> <a href="#"> <img src="../../../assets/icons/instagram.png" alt=""> </a> </li> 
    <li> <a href="#"> <img src="../../../assets/icons/facebook.png" alt=""> </a> </li> 
    <li> <a href="#"> <img src="../../../assets/icons/tiktok.png" alt=""> </a> </li> 
    <li> <a href="#"> gymnasiumail@gmail.com </a> </li> 
    <li> <a href="#"> 934 45 65 12 </a> </li> 
    <li> <a href="#"> C/ Pago viejo 12 </a> </li> 
    <li> <a href="#"> Sobre nosotros </a> </li> 
</ul>

