<div class="register">

    <form class="custom-form" method="post" action="/usuarios">

        <div class="text-form">

            <h1>Registrarse</h1>

            <span *ngIf="userExists()">
                Ya existe un usuario registrado con ese email.
            </span>

        </div>

        <div class="inputs-form">

            <input  type="email"
                    name="email"
                    [(ngModel)]="email"
                    placeholder="Correo electrónico"
                    required="required"
            />

            <input  type="text"
                    name="nombre"
                    [(ngModel)]="nombre"
                    placeholder="Nombre"
                    required="required"
            />

            <input  type="password"
                    name="password"
                    [(ngModel)]="password"
                    placeholder="Contraseña"
                    required="required"
            />

            <input  type="password"
                    name="password"
                    [(ngModel)]="confirmPassword"
                    placeholder="Repita la contraseña"
                    required="required"
            />

        </div>

        <div class="buttons-form">

            <input type="submit" class="form-registro" (click)="register()" value="Registrarme"/>

            <button type="button" class="form-login" (click)="login()">Iniciar sesión</button>

        </div>

    </form>

</div>








