<div class="register">

    <form class="custom-form" method="post" action="/usuarios">

        <h1>Registrarse</h1>

        <input  type="email"
                name="email"
                [(ngModel)]="email"
                placeholder="Correo electrónico"
                required="required"
        />

        <input  type="text"
                name="nombre"
                [(ngModel)]="nombre"
                placeholder="Nombre"
                required="required"
        />

        <input  type="password"
                name="password"
                [(ngModel)]="password"
                placeholder="Contraseña"
                required="required"
        />

        <input  type="password"
                name="password"
                [(ngModel)]="confirmPassword"
                placeholder="Repita la contraseña"
                required="required"
        />

        <button type="submit" (click)="register()">Registrarme</button>

        <button type="button" (click)="login()">Iniciar sesión</button>

    </form>

</div>
