.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.reservas, .reservasAll {
    min-width: 60vw;
    margin: 50px 10vw;
}

.reservasAll {
  app-proximas-clases {
    // background-color: blue;
  }
}

textarea {
    padding: 30vh auto;
}

button {
    margin: 1vh;
    cursor: pointer;
}

.reserva-title {
    color: white;
    background-color: rgba(156, 156, 156, 0.563);
    width: 80%;
    display: inline-flex;
    margin-top: 14vh;
}


.reservasLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
