<div class="reservasLayout">

  <ng-container *ngIf="reservas && showReservasUser">

    <div class="reservas">

      <h1>Mis reservas</h1>

      <ng-container *ngFor="let reserva of reservas(); index as i; first as isFirst">

        <ng-container *ngIf="isFirst && tieneReservaHoy()">

          <h3>Hoy</h3>

        </ng-container>

        <ng-container *ngIf="validReserva(reserva)">

          <h3>{{reserva.fecha}}</h3>

        </ng-container>

        <app-reserva-card [reserva]="reserva" [ngStyle]="bgStyles(reserva.imagen)" (reservaChanged)="onReservaEdited($event)">


        </app-reserva-card>

      </ng-container>

    </div>
  </ng-container>

  <ng-container *ngIf="showReservasAll">

    <div class="reservasAll">

      <button (click)="showReservas()">Volver a mis reservas</button>

      <h1>Próximas clases</h1>

      <ng-container *ngFor="let reserva of reservasListAll; index as i; first as isFirst">

        <ng-container *ngIf="isFirst && tieneReservaHoy()">

          <h3>Hoy</h3>

        </ng-container>

        <ng-container *ngIf="validReserva(reserva)">

          <h3>{{reserva.fecha}}</h3>

        </ng-container>

        <app-proximas-clases [clase]="reserva" (reservaChanged)="onReservaEdited($event)">

        </app-proximas-clases>

      </ng-container>

    </div>

  </ng-container>

  <div class="clases" *ngIf="clases">

    <h1>Clases</h1>

    <ng-container *ngFor="let clase of clases()">

      <ng-container *ngIf="validClase(clase)">

        <app-listado-clases [clase]="clase" (click)="showNextClasses(clase.deporte)"></app-listado-clases>

      </ng-container>

    </ng-container>

  </div>

</div>
