.menuFavorites {

    display: flex;
    margin: 2vh 0;

    &__rutinas {
      min-width: 6.9vw;
      width: 6.9vw;
      max-width: 6.9vw;
    }

    &__comidas {
      min-width: 12.6vw;
      width: 12.6vw;
      max-width: 12.6vw;
    }

    &__notas {
      min-width: 8vw;
      width: 8vw;
      max-width: 8vw;
    }

    @media screen and (max-width: 1279px) {
      &__rutinas {
        min-width: 9.9vw;
        width: 9.9vw;
        max-width: 9.9vw;
      }

      &__comidas {
        min-width: 16.6vw;
        width: 16.6vw;
        max-width: 16.6vw;
      }

      &__notas {
        min-width: 9vw;
        width: 9vw;
        max-width: 9vw;
      }
    }
    @media screen and (max-width: 950px) {
      &__notas {
        min-width: 12vw;
        width: 12vw;
        max-width: 12vw;
      }
    }

    @media screen and (max-width: 876px) {
      &__rutinas {
        min-width: 13vw;
        width: 13vw;
        max-width: 13vw;
      }

      &__comidas {
        min-width: 20vw;
        width: 20vw;
        max-width: 20vw;
      }

      &__notas {
        min-width: 17vw;
        width: 17vw;
        max-width: 17vw;
      }
    }
    @media screen and (max-width: 724px) {
      &__rutinas {
        min-width: 17vw;
        width: 17vw;
        max-width: 17vw;
      }

      &__comidas {
        min-width: 27vw;
        width: 27vw;
        max-width: 27vw;
      }

      &__notas {
        min-width: 20vw;
        width: 20vw;
        max-width: 20vw;
      }
    }

    ul {

        list-style: none;
        display: flex;
        // gap: 1vw;
        margin: 0 1.5vw;
        padding: 0;

        li {
            :hover {
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: black;
            }

            &#medio {
                // border-left: 1px solid rgba(128, 128, 128, 0.705);
                // border-right: 1px solid rgba(128, 128, 128, 0.705);
                padding: 0 1.5vw;
            }
        }
    }

    .despliegue {

        a {
            :hover {
                min-height: 2.8vh;
                min-width: 0.5vw;
            }

            img {
                min-height: 2.7vh;
                min-width: 0.4vw;
            }

            padding: 0.4vh 1vw 0 0.5vw;
            margin-right: 3vw;
            cursor: pointer;
        }
    }
}
