
<div class="menuFavorites">

    <div class="tag">
            <img src="../../../../assets/icons/banderita.png" alt="Icono de marcadores">
    </div>

    <ul>

            <li class="menuFavorites__rutinas"> <a href="#"> {{ Data['favorites'][0].titulo }} </a> </li>
            <li class="menuFavorites__comidas" id="medio"> <a href="#"> {{ Data['favorites'][1].titulo }} </a> </li>
            <li class="menuFavorites__notas"> <a href="#"> {{ Data['favorites'][2].titulo }} </a> </li>

    </ul>

    <div class="despliegue">
            <!-- <a href="#">
                    <img src="../../../../assets/icons/puntitosMenu.png" alt="Despliegue de menú">
            </a> -->
    </div>

</div>
