

h1 {
    margin: 0;
    font-size: 2.1em;
    padding-bottom: 2vh;
}

.fecha {

    display: flex;
    justify-content: flex-start;
    padding-bottom: 2vh;

    button {
            border: 0;
            background-color: transparent;
            margin-right: 0.5vw;
            img {
                    min-width: 3vw;
            }
    }

    div, p {
        padding-right: 0.15vw;
        color: #717578;
        p {

            color: #717578;
            margin: auto 0;
        }
        margin: auto 0;
    }

}
