.listadoClases {
  background-color: rgba(247, 194, 189, 0.634);
  cursor: pointer;
  margin: 2vw;
  padding: 1vw;
}

.btn-primary {
  background-color: #caa500;
  border-color: #9f8200;
  color: black;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 24px;
  margin-right: 237px;
}
