<div class="listadoClases">

    <div class="listadoClases-deporte">

        <h1>{{clase.deporte}}</h1>

    </div>

    <div class="listadoClases-descripcion">

        <div>{{clase.descripcion}}</div>

    </div>

    <div class="listadoClases-aforo">

        <div>Aforo: {{clase.aforo}}</div>

    </div>

    <div class="listadoClases-instructor">

        <div>{{clase.instructor}}</div>

    </div>

    <div class="listadoClases-duracion">

        <div>Duración: {{clase.duracion}} minutos</div>

    </div>

</div>

