<div class="login">

    <form class="custom-form" method="post">
        
        <h1>Login</h1>

        <input  type="email"
                name="email"
                [(ngModel)]="email"
                placeholder="Email"
                required="required"
        />

        
        <input  type="password"
                name="password"
                [(ngModel)]="password"
                placeholder="Password"
                required="required"
        />

        <button type="submit" (click)="login()">Log in</button>

        <button type="submit" (click)="register()">Register</button>

    </form>

</div>
