<div class="login">

    <form class="custom-form" method="post">

        <h1>Iniciar sesión</h1>

        <input  type="email"
                name="email"
                [(ngModel)]="email"
                placeholder="Correo electrónico"
                required="required"
        />


        <input  type="password"
                name="password"
                [(ngModel)]="password"
                placeholder="Contraseña"
                required="required"
        />

        <button type="submit" (click)="login()">Iniciar sesión</button>

        <button type="submit" (click)="register()">Registrarme</button>

    </form>

</div>
