<section class="actividad">

    <h2> Próximas clases </h2>

    <article>

            <ng-container *ngIf="tieneReservaHoy() else notToday">

              <p class="fecha">Hoy</p>

            </ng-container>

            <ng-template #notToday>

              <p class="fecha">{{fecha}}</p>

            </ng-template>

            <ul>

                    <li *ngFor="let item of Data(0);" class="item">
                            <div class="item__texto">
                                    {{ item.deporte }}
                            </div>
                            <div class="item__plazas">

                                    <p> <img src="../../../../assets/icons/people.ico"/>{{ item.plazasMaximas - item.plazasLibres }} / {{ item.plazasMaximas }} </p>

                                    <p> {{ item.franja }} </p>

                                    <img *ngIf="item.plazasLibres == 0 else libre"
                                            src="../../../../assets/icons/puntitoRojo.png"
                                            alt="Icono de punto rojo">

                                    <ng-template #libre>
                                            <img src="../../../../assets/icons/puntitoVerde.png"
                                                 alt="Icono de punto verde">
                                    </ng-template>

                            </div>
                    </li>

            </ul>

    </article>

    <article>

        <p class="fecha">{{fecha}}</p>

            <ul>

              <li *ngFor="let item of Data(1);" class="item">
                <div class="item__texto">
                        {{ item.deporte }}
                </div>
                <div class="item__plazas">

                        <p> {{ item.plazasLibres }} </p>

                        <p> {{ item.franja }} </p>

                        <img *ngIf="item.plazasLibres == 0 else libre"
                                src="../../../../assets/icons/puntitoRojo.png"
                                alt="Icono de punto rojo">

                        <ng-template #libre>
                                <img src="../../../../assets/icons/puntitoVerde.png"
                                     alt="Icono de punto verde">
                        </ng-template>

                </div>
        </li>

            </ul>

    </article>

</section>


<section class="necesidades">

    <h2> Tienda </h2>

    <article>

            <img src="../../../../assets/icons/compraPC.png" alt="Imagen de anuncio de PC">

    </article>

</section>
