<nav>

    <ul>

        <li class="logo">

            <a routerLink="home/clases">

                <i> <img src="../../../assets/img/logoGym1.png" alt="Logo"> </i>

            </a>

        </li>

        <div class="area-socios">
            <li class="reservas" >

                <a routerLink="/reservas"> <p> Reservas </p> </a>

            </li>

            <li class="clases">

                <a routerLink="clases/listado"> <p> Clases </p> </a>

            </li>
        </div>


        <li class="busqueda">

            <a href="#"> <i> <img src="../../../assets/icons/lupita.png" alt="Icono de lupa"> </i> </a>

            <input type="text" name="buscador" id="buscador" placeholder="Buscar en Gymnasium..."
                   onclick="if(this.placeholder=='Buscar en Gymnasium...') this.placeholder=''"
                   onblur="if(this.placeholder=='') this.placeholder='Buscar en Gymnasium...'">

            <!-- <a href="#" class="numero"> <img src="../../../assets/icons/numero.png" alt="Número"> </a> -->

        </li>

        <li class="perfil">

            <img src="./../../../assets/img/fotoPropia.jpg" alt="Imagen de perfil">

            <p> Manuel Fdez </p>

            <a href="#" class="despliegue">

                <i> <img src="../../../assets/icons/flechita.png" alt="Flecha para despliegue"> </i>

            </a>

            <a href="#" class="boton">

                <i> <img src="../../../assets/icons/textoLogo.png" alt="Botón de logo">  </i>

            </a>

        </li>

    </ul>

</nav>
