<div class="confirmacionReserva">

    <h2>Confirmación de reserva</h2>

    <p>Su reserva se realizó con éxito. </p>

    <p>Por favor, si finalmente no va a asistir a esta clase cancele su reserva lo antes posible. Gracias.</p>


    <div class="confirmacionReserva__datos">

      <div>

        <h4>Datos de la reserva</h4>

        <div>

          {{fecha}}

        </div>

        <div>

          {{franja}}

        </div>

        <div>

          Sala {{sala}}

        </div>

        <div>

          {{deporte}}

        </div>

        <div>

          {{email}}

        </div>

      </div>



      <div>

        <img src="{{imagen}}">

      </div>


    </div>

  </div>
