.titulo {

    border-left: solid 4px #a38603;
    border-right: solid 4px #a38603;
    width: fit-content;

    h3 {
            margin-top: 3vh;
            padding-left: 1vw;
            padding-right: 1vw;
            @media screen and (max-width: 540px) {
              font-size: 1.3em;
            }
    }
}
