.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.clases {
    max-width: 400px;
    margin: 50px auto;
}

textarea {
    padding: 30vh auto;
}

button {
    margin: 1vh;
    cursor: pointer;
}