
:host {
  display: block;
}

:host.is-first {
  border-top: 2px solid grey;
  padding-top: 20px;
}

:host.is-last {
  border-bottom: 2px solid grey;
  padding-top: 20px;
}

// :host.is-even {
//   background: lightgray;
// }

// :host.is-odd {
//   background: lightcyan;
// }

// :host-context(.salmon-theme) .course-card {
//   background: lightsalmon;
// }

.clase-card {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}

.clase-card .clase-title {
  font-size: 27px;
  font-weight: bold;
}

.clase-card .clase-nombre {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 15px;
  /* user-select: none; */
}

.clase-card .clase-editTitle input {
  font-size: 20px;
}

// .course-card.beginner {
//   background: lightsalmon;
// }


// .course-card.beginner {
//     background: rgba(135, 89, 38, 0.551);
// }
// .course-card.intermediate {
//     background: rgba(192, 192, 192, 0.608);
// }
// .course-card.advanced {
//     background: rgba(255, 217, 0, 0.578);
// }
// .course-card.all-levels {
//     background: rgba(190, 187, 172, 0.578);
// }

button {
    cursor: pointer;
}