<div class="clase-card">



      <div class="example-1 card">
        <div class="wrapper" style="background-image: url({{clase.imagen}});">
          <div class="date">
            <span class="day">{{clase.deporte}}</span>
          </div>
          <div class="data">
            <div class="content">
              <span class="author"><img src="../../../assets/img/trainerMan.png" alt="Icono de instructor"> {{clase.instructor}}</span>
              <p class="text">{{clase.descripcion}}</p>
              <label for="{{idCard}}" class="menu-button"><span></span></label>
            </div>
            <input type="checkbox" id="{{idCard}}" />
            <ul class="menu-content">
              <li>
                <a href="#" class="fa fa-bookmark-o">Sala {{clase.sala}}</a>
              </li>
              <li><a href="#" class="fa fa-heart-o"><span>Hasta {{clase.aforo}} personas</span></a></li>
              <li><a href="#" class="fa fa-comment-o"><span>{{clase.duracion}} minutos</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- <div class="clase-title" [style]="{'color': !clase.imagen ? 'gray' : ''}">
        <clase-title [title]="clase.deporte"></clase-title>
    </div>

    <ng-content *ngIf="isImageVisible(clase) else noImageTemplate" select=".clase-image"></ng-content>

    <ng-template #noImageTemplate>

        <ng-container *ngTemplateOutlet="noImage; context: { title: clase.deporte } "></ng-container>

    </ng-template>



    <ng-content select=".clase-nombre"></ng-content> -->

    <!-- <div class="clase-editTitle">

        Editar título <input #claseTitle
                                  [value]="clase.deporte"
                                  (keyup)="onTitleChange(claseTitle.value)"
                                   title="title">
    </div>


    <button (click)="onClaseViewed()"> Ver clase </button>

    <button (click)="onSaveClicked(claseTitle.value)"> Editar clase </button> -->

</div>




