<div class="clase-card">

    <div class="clase-title" [style]="{'color': !clase.imagen ? 'gray' : ''}">
        <clase-title [title]="clase.deporte"></clase-title>
    </div>

    <ng-content *ngIf="isImageVisible(clase) else noImageTemplate" select=".clase-image"></ng-content>

    <ng-template #noImageTemplate>

        <ng-container *ngTemplateOutlet="noImage; context: { title: clase.deporte } "></ng-container>

    </ng-template>



    <ng-content select=".clase-nombre"></ng-content>

    <div class="clase-editTitle">

        Editar título <input #claseTitle
                                  [value]="clase.deporte"
                                  (keyup)="onTitleChange(claseTitle.value)"
                                   title="title">
    </div>


    <button (click)="onClaseViewed()"> Ver clase </button>

    <button (click)="onSaveClicked(claseTitle.value)"> Editar clase </button>

</div>

