<!-- <div class="centro-card" [ngClass]="classesForCards()"> -->

    <div class="example-1 card">
        <div class="wrapper" style="background: url({{centro.imagen}}); background-size: cover;">
          <div class="date">
            <span class="day">{{centro.poblacion}}, {{centro.provincia}}</span>
          </div>
          <div class="data">
            <div class="content">
              <p class="text">Gerente: {{centro.gerente}}</p>
              <p class="text">Mensualidad: {{centro.mensualidad}}€ </p>
              <p class="text">Fundado en: {{centro.anyoFundacion}} </p>
              <label for="{{idCard}}" class="menu-button"><span></span></label>
            </div>
            <input type="checkbox" id="{{idCard}}" />
            <ul class="menu-content">
              <li><a href="#" class="fa fa-bookmark-o"><span> {{centro.direccion}}</span></a></li>
              <li><a href="#" class="fa fa-heart-o"><span> {{centro.telefono}}</span></a></li>
              <li><a href="#" class="fa fa-comment-o"><span> {{centro.metrosCuadrados}} m²</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- <div class="course-title" [style]="{'color': !course.imagen ? 'gray' : ''}">
        {{ cardIndex + ' ' + course.description }}
    </div> -->
    <!-- <div class="centro-title" [style]="{'color': !centro.imagen ? 'gray' : ''}">
        <app-centro-title [title]="centro.nombre"></app-centro-title>
    </div> -->


    <!-- Just using my custom directive appNgxUnless: -->
    <!-- <ng-content *appNgxUnless="!isImageVisible(course)" select=".course-image"></ng-content> -->
    <!-- <ng-content *ngIf="isImageVisible(centro) else noImageTemplate" select=".centro-image"></ng-content>

    <ng-template #noImageTemplate>

        <ng-container *ngTemplateOutlet="noImage; context: { nombre: centro.nombre } "></ng-container>

    </ng-template>



    <ng-content select=".centro-nombre"></ng-content>

    <div class="centro-editNombre">

        Editar nombre <input #centroNombre
                                  [value]="centro.nombre"
                                  (keyup)="onNombreChange(centroNombre.value)"
                                   title="nombre">
    </div> -->



    <!-- <div class="course-category" [ngSwitch]="course.category">

        <ng-container *ngFor="let category of categories">

            <ng-container *ngSwitchCase="category">

                <div class="category"> {{ category | titlecase }} </div>

            </ng-container>

        </ng-container>

        <div class="category" *ngSwitchDefault> all levels </div>

    </div> -->


    <!-- INTENTAR USAR ESTO PARA LAS MENSUALIDADES -->
    <!-- <div class="centro-mensualidad">

        <div class="mensualidad">
            {
                centro.mensualidad,
                select,
                BEGINNER {Beginner}
                INTERMEDIATE {Intermediate}
                ADVANCED {Advanced}
            }
        </div>

    </div> -->

    <!-- <button (click)="onCentroViewed()"> Ver centro </button>

    <button (click)="onSaveClicked(centroNombre.value)"> Editar centro </button>

</div> -->

